body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkgrey;
}
#canvas {
    width: 59.85vw;
    height: 55vw;
    background-color: black;
}
