body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    background-color: #ef7676;
}
#canvas {
    width: 59.85vw;
    height: 45vw;
    background-color: black;
    margin: 20px;
}
h1 {
    font-family: "Charge Vector", sans-serif;
    font-size: 3vw;
    color: #240747;
}
aside {
    font-size: 1vw;
    color: white;
    background: black;
    border-radius: 5px;
    max-height: 45vw;
    height: 45vw;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
#alien {
    border-radius: 5px;
    height: 15vw;
}
